{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="col-sm-8 card bg-light text-dark ">
    <h3 class=" my-5">About Page</h3>

    <div class="container">
        <h1 class="display-4 font-wieght-bold">This is Blog Title</h1>
        <img src="{% static 'blog/css/about.jpg' %}" alt="Mayank">
        <p class="lead text-light bg-secondary">
            Hi<br>
           
            This is Mayank.I am from Chhindwara.I am pursuing my B.Tech degree from Samrat Ashok Technological Institute,Vidisha.
        </p>

    </div>
</div>


{% endblock content %}